<div class="settings-container">
  <app-nav></app-nav>

  <div class="main-content">
    <mat-toolbar color="primary" class="settings-toolbar">
      <span>Panel de Administración</span>
      <span class="toolbar-spacer"></span>
      <button mat-icon-button>
        <mat-icon>help_outline</mat-icon>
      </button>
    </mat-toolbar>

    <mat-tab-group animationDuration="0ms" (selectedTabChange)="onTabChange($event)">
      <mat-tab label="Tiendas y Artículos">
        <div class="tab-content">
          <div class="settings-layout">
            <mat-sidenav-container class="sidenav-container">
              <mat-sidenav mode="side" opened class="stores-sidebar">
                <app-store (storeSelected)="onStoreSelected($event)"></app-store>
              </mat-sidenav>

              <mat-sidenav-content class="content-area">
                <app-article [selectedStore]="selectedStore"></app-article>
              </mat-sidenav-content>
            </mat-sidenav-container>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Catálogo de Artículos">
        <div class="tab-content">
          <app-article-catalog></app-article-catalog>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
